<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.macbook.dayre">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DayView" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".OtpActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".PopupNotification"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Freqnt_Places" />
        <activity android:name=".Remainder" />
        <activity
            android:name=".Summary"
            android:label="@string/title_activity_summary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Settings_DayRe"></activity>
    </application>

</manifest>