<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.macbook.dayre">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DayView" />
        <activity android:name=".Freqnt_Places" />
        <activity android:name=".Remainder" />
        <activity android:name=".Settings_DayRe" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".OtpActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".PopupNotification"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Summary_DayRe"
            android:label="@string/title_activity_summary__day_re"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".DayreReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.location.GPS_ENABLED_CHANGE" />
                <action android:name="android.intent.action.PROVIDER_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>